.dashboard-container {
    display: flex;
    width: 100%;
}
.main-content {
    padding: 1rem;
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    overflow: auto;
}


.card-title {
    color: blue;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-decoration: none;
}
.card-title:hover {
    text-decoration: none;
    color: blue;
}

.card-title a {
    text-decoration: none !important;
    color: blue !important;
}

.dashboard-section,
.published-course-section {
    margin-left: 20px;
    margin-right: 20px;
}


@media (max-width: 1200px) {
    .courses-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 900px) {
    .courses-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
.wd-kanbas-navigation {
    min-height: 150vh;
    background-color: black !important;
}

.form-control {
    max-width: 250px;
}

.btn {
    margin: 5px; 
}
